version: "3.1"

services:
  db:
    image: postgres:13
    container_name: db
    environment:
      - POSTGRES_DB=myproject
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=password
    volumes:
      - postgres:/var/lib/postgresql/data/
    expose: 
      - "5432"

  backend:
    build: ./api/
    container_name: api
    command: bash -c "sleep 30 && python3 manage.py migrate && python3 manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./api:/backend
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build: ./client/
    container_name: client
    command: /bin/sh -c "yarn && quasar dev"
    volumes:
      - ./client:/frontend/
      - /frontend/node_modules
    ports:
      - "8081:8080"
    depends_on:
      - db
      - backend

volumes:
  postgres:

