
name: Run CI Pipeline

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build frontend
        uses: fifsky/ssh-action@master
        with:
          command: |
            echo ${{ github.event.head.ref }}
            echo ${{ steps.extract_branch.outputs.branch }}
            
          host: ${{ secrets.DO_HOST }}
          pass: ${{ secrets.DO_PASSWORD }}